<div class="side_menu">
    <ul class = "links-menu">
        <li>
            <a href="{% url 'products' 'all'%}"
                {% if request.resolver_match.kwargs.product_category == 'all' %}
                        class = "active"
                    {% endif %}>
                ВСЕ КАТЕГОРИИ</a>
        </li>
        {% for cat in prod_cats %}
            <li>
                <a href = "{% url 'products' cat.id %}"
                    {% if request.resolver_match.kwargs.product_category == cat.id|stringformat:'s' %}
                        class = "active"
                    {% endif %}>
                    {{ cat.name|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>