<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Рога и копыта{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico'%}"/>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block header %}
        <div class="header">
            <img class="logo" src="{% static 'img/logo.jpg'%}" alt="Logo">
            {% include 'mainapp/includes/inc_menu.html' %}
        </div>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <div class = "user_avatar"><img width=50px height="50px" src="/media/{{ user.avatar }}" alt="Аватарка"></div>
                </li>
                <li>
                    <a class="userBage" href = "{% url 'auth:edit' %}" >
                        {{ user.first_name|default:'Пользователь' }}
                    </a>
                </li>
            {% endif %}
                <li>
                    {% if user.is_authenticated %}
                        <a class="userBage" href = "{% url 'auth:logout' %}" >выйти</a>
                    {% else %}
                        <a class="userBage" href = "{% url 'auth:login' %}" >войти</a>
                    {% endif %}
                </li>
        </ul>
    {% endblock %}
    {% block content %}
        <!-- Here is page content -->
    {% endblock %}
    {% block footer %}
        <div class="footer">
            <p>
                Все права защищены &copy;&nbsp;2019 г. - <a href="https://geekbrains.ru" target="_blank">Go to geekbrains...</a>
            </p>
        </div>
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>