{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ block.super }} - {{ title|title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'mainapp/css/styles.css'%}">
{% endblock %}

{% block content %}
    <h1 class="main test">{{ title|upper }}</h1>
    <h2 >Сегодня: {% now "d E Y" %}</h2>

    <p>
    Where is the addled comrade? <br/>
    Avast, yer not scraping me without a booty! <br/>
    Where is the stormy plank? <br/>
    Ah, mighty strength! <br/>
    Jolly, ooh. <br/>
</p>
{% endblock %}
