{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ block.super }} - {{ title|title }}{% endblock %}

{% block content %}
<h1 class="main">{{ title|upper }}</h1>
    {% include 'mainapp/includes/inc_side_menu.html' %}
<div class="catalog">
    {% for product in product_list %}
        <div class="goods" id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}">
            <h4>{{ product.name|capfirst }}</h4>
            {% if product.image %} <!-- Поменять на {{ product.image.url }} -->
                <img src="/media/{{ product.image }}" alt="{{ product.name }}"><br>
            {% else %}
                <img src="{% static '/img/no-photo_79.gif' %}" alt="Фото отсутствует"><br>
            {% endif %}

            <h5>Цена - {{ product.price }} руб.</h5>
            <button>Купить {{ product.name }}</button>
        </div>
    {% endfor %}
    <!--<div class="basket">
        <table id="120">
        </table>
        <button>Очистить корзину</button>
    </div>-->
</div>
{% endblock %}