{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ block.super }} - {{ title|title }}{% endblock %}

{% block content %}
<h1 class="main">{{ title|upper }}</h1>
    {% include 'mainapp/includes/inc_side_menu.html' %}
<div class="catalog">
    {% for product in product_list %}
        <div class="goods" id="{{ product.0 }}" data-name={{ product.1 }} data-price={{ product.2 }}>
            <img src="{% static product.3%}" alt="{{ product.1 }}"><br>
            <button>Купить {{ product.1 }}</button>
        </div>
    {% endfor %}
    <!--<div class="basket">
        <table id="120">
        </table>
        <button>Очистить корзину</button>
    </div>-->
</div>
{% endblock %}